.home_container {
  display: grid;
  align-items: center;
  grid-template-rows: 50vh 40vh;
}

.home_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  align-items: center;
  height: 50vh;

  padding: 0rem 5rem;
}

.home_content_text {
  display: flex;
  flex-direction: column;
}

.home_tracking_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

  padding: 3vh 0;
}

.home_tracking_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30vw;
  height: 100%;

  background-color: var(--blue-900);

  border-radius: 2rem;

  padding: 0.5rem;
}

.home_tracking_content_title {
  font-size: clamp(0.4rem, 0.8vw + 0.7rem, 2rem);
  font-weight: 600;

  color: var(--white);
}

.home_tracking_content_search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  background-color: var(--blue-500);

  border-radius: 2rem;

  padding: 0.5rem 1rem;
  padding-bottom: 3vh;
}

.home_tracking_content_row {
  display: flex;
}

.home_tracking_content_row div + div {
  margin-left: 1rem;
}

.home_footer {
  width: 100%;

  padding: 0 5rem;
}

.home_footer_content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;

  background-color: var(--blue-900);
  color: var(--white);

  padding: 2rem 2rem;

  border-radius: 1rem;
}

.home_footer_content section {
  display: flex;
  flex-direction: column;

  border-left: 1px solid var(--blue-100);

  padding-left: 2rem;
}

.home_footer_content section > span {
  font-weight: 600;
  margin: 1rem 0;
}

.home_footer_content section > strong {
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

.home_footer_content_image {
  width: 10px;
  height: 10px;
  background-color: var(--blue-500);
}
